*{
    margin:0;
    padding:0;

}

.item{
    margin: 20px;
    padding: 15px;
    border: 2px solid red;
    border-radius: 5px;
}

.title-todo{
    font-size: 2rem;
}

.description-todo{
    font-size: 1.4rem;
}